body {
    padding: 10px;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 2px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    display: table-cell;
    vertical-align: inherit;
}

th {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eee;
}

.btns{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
}
.btn{
    padding: 0px;
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #0f0;
    border: none;
    color: #fff;
    cursor: pointer;
}
.hide{
    display: none;
}
.btn:hover{
    background-color: #03bb03;
}

